body{
    background-color: #FBFBFB ;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.image{
    width:370px;
    margin-top: 20px;
}

.content{
    margin: 0;
    padding-bottom: 40px;
    width:100%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin: 0;
}

@media (max-width:770px){
    .container{
        margin: 0 2%;
    }

    .image{
        width:100%;
    }
}
